body{
  background-color: #5089C6;
  margin: 0;
  font-family: Red-Hat-Display,sans-serif;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  text-align: center;
  background-size:  cover;

}

.hero{
  transform: scale(0.718) translate(-91px,-20px);
}
.music-icon{
  float: left;
}
.change{
  float: right;
  margin-bottom: 40px;
}
.text{
  width: 75%;
  margin:0 40px;
}
p{
  color: hsl(224, 23%, 55%);
}

.center-box{
  background-color: white;
  width: 25%;
  margin:50px auto;
  border-radius: 40px;
}
